<div class="content" style="padding-top: 40px;">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Product Add Form</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="productAddForm">
          <div class="form-group">
            <input
              type="text"
              id="productName"
              formControlName="productName"
              placeholder="Ürün adı"
              class="form-control"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

