<p>product works!</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{ product.productId }}</th>
      <td>{{ product.productId }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.unitPrice }}</td>
      <td>{{ product.destination }}</td>
    </tr>
  </tbody>
</table>
